// Transforms modern JavaScript syntax (using @babel/preset-env).
// Transforms JSX syntax into plain JavaScript (using @babel/preset-react).
{
  "presets": ["@babel/preset-env", "@babel/preset-react"]
}
